body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif, Helvetica, Arial, sans-serif;
  background-color: #f2f2f2;
}

main {
  margin: 0 auto;
  padding: 1em;
  max-width: 80em;
}

footer p {
  text-align: center;
}

nav {
  background-color: #333;
  border-bottom: 0.2em solid #222;
  color: white;
  padding: 1em;
  width: 100%;
  .nav-item {
    display: inline-block;
    margin-right: 3em;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

h1 {
  text-align: center;
  margin: 0.2em 0 0.2em 0;
}

p {
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(16em, 1fr));
  gap: 1.5em;
  margin: 0 auto;
  align-items: start;
  #section1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #ececec;
    border: 0.1em solid #8a8a8a;
    padding: 1em;
  }

  #section2,
  #section3 {
    padding: 1em;
    background: #ececec;
    border: 0.1em solid #8a8a8a;
    padding: 1em;
  }

  #section2 {
    grid-column: 2;
    grid-row: 1;
  }

  #section3 {
    grid-column: 2;
    grid-row: 2;
  }
}


@media only screen and (max-width: 37.5em) {
  #nav {
    background-color: #333;
    border-bottom: 0.2em solid #222;
    color: white;
    padding: 1em;
    width: 100%;
    .nav-item {
      display: block;
      margin-right: 3em;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #grid-container {
    grid-template-columns: minmax(0, 1fr);
    gap: 1.5em;
    margin: 0 auto;
    align-items: start;
    #section1 {
      grid-column: 1 / -1;
      grid-row: auto;
      margin: 0 auto;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #ececec;
      border: 0.1em solid #8a8a8a;
      padding: 1em;
    }

    #section2,
    #section3 {
      padding: 1em;
      background: #ececec;
      border: 0.1em solid #8a8a8a;
      padding: 1em;
      grid-column: 1;
      grid-row: auto;
    }
  }
}

@media only screen and (37.5em <= width <= 48em) {
  #grid-container {
    grid-template-columns: minmax(0, 1fr);
    gap: 1.5em;
    margin: 0 auto;
    align-items: start;
    #section1 {
      grid-column: 1 / -1;
      grid-row: auto;
      margin: 0 auto;
      padding: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background: #ececec;
      border: 0.1em solid #8a8a8a;
      padding: 1em;
    }

    #section2,
    #section3 {
      padding: 1em;
      background: #ececec;
      border: 0.1em solid #8a8a8a;
      padding: 1em;
      grid-column: 1;
      grid-row: auto;
    }
  }
}

@media only screen and (48em <= width <= 60em) {
  #grid-container {
    grid-template-columns: repeat(2, minmax(16em, 1fr));
    gap: 1.5em;

    #section1 {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    #section2 {
      grid-column: 1;
      grid-row: 2;
    }

    #section3 {
      grid-column: 2;
      grid-row: 2;
    }
  }
}
